{% extends "layout.html" %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-4">Valokuva Galleria -app!</h1>
    <p class="lead">Tämä on tietokantasovellus -kurssille tehty harjoitustyö. Sovellus käyttää flaskia, SQLAlchemya ja Bootsrappia.</p>
    <hr class="my-4">
    <p>Voit kirjautua sisään, tarkastella ja tykätä kuvista. Sivuston koodin löydät alla olevasta linkistä:</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="https://github.com/Tseipii89/Valokuvagalleria-tietokantasovellus-koulu" role="button">GITHUB -linkki</a>
    </p>
  </div>
{% endblock %}