{% extends "layout.html" %}

{% block body %}

    {% if currentUser.id == null %}
      <h1>Kirjaudu sisään tykätäksesi ja lisätäksesi kuvia!</h1>
    {% endif %}  



    
    {% for picture in pictures %}

    <div>
        <img src="{{ picture.path }}" />
        <p>{{ picture.date_taken }}</p>
        {% for author in authors %}
          {% if  picture.id == author.id %}
            <p>{{ author.name }}</p>
          {% endif %}  
        {% endfor %}
            {% for h in picture.hashtags %}
              <h2>{{ h.hashtag }}</h2>
            {% endfor %}

        
          {% for pic in how_many %}
            {% if  picture.id == pic.id %}
              <p>Tästä kuvasta on tykätty {{ pic.count }} kertaa</p>
            {% endif %}
          {% endfor %}

          {% if how_many is defined and how_many|length < 1 %} 
              <p>Tästä kuvasta ei ole vielä tykätty :( Ole ensimmäinen tykkääjä!</p>
          {% endif %}
          
          
        {% if currentUser.id != null %}  
          {% if currentUser.id in find_like %}
            <form method="POST" action="{{ url_for('likes_delete', picture_id = picture.id)}}">
              <table>
                <tr>
              <td colspan="2">
                <input type="submit" value="En tykkääkkään!"/>
              </td>
                </tr>
            </form>
          {% else %}  
            <form method="POST" action="{{ url_for('likes_create', picture_id = picture.id)}}">
              <table>
                <tr>
                <td colspan="2">
                  <input type="submit" value="Tykkää!"/>
                </td>
                </tr>
              </table>  
            </form>
          {% endif %} 
        {% endif %}   
  </div>
    

  {% if currentUser.id == picture.account_id %}
      <form method="POST" action="{{url_for('remove_picture', picture_id = picture.id)}}">    
          <input type="submit" value="Poista!">
      </form>
     
    

        <a class="btn btn-primary" href="{{url_for('picture_update', picture_id = picture.id)}}">Päivitä kuvan tietoja</a> 
  {% endif %}  
  {% endfor %}

{% endblock %}