{% extends "layout.html" %}

{% block body %}

    {% for picture in pictures %}

    <div>
        <img src="{{ picture.path }}" />
        <p>{{ picture.date_taken }}</p>
    </div>

    <p>Tästä kuvasta on tykätty {{ how_many }} kertaa</p>

    {% if currentUser.id in find_like %}
      <form method="POST" action="{{ url_for('likes_delete', picture_id = picture.id)}}">
        <table>
          <tr>
        <td colspan="2">
          <input type="submit" value="En tykkääkkään!"/>
        </td>
          </tr>
      </form>
    {% else %}  
      <form method="POST" action="{{ url_for('likes_create', picture_id = picture.id)}}">
        <table>
          <tr>
        <td colspan="2">
          <input type="submit" value="Tykkää!"/>
        </td>
          </tr>
      </form>
    {% endif %}  

    


    <form method="POST" action="{{url_for('remove_picture', picture_id = picture.id)}}">    
        <input type="submit" value="Poista!">
    </form>
    
    

    {% endfor %}

{% endblock %}